@import url('reset.min.css');
@import url('grid.min.css');
@import url('properties.min.css');

:root {
  --border-width-default: 1px;
}

.grid-gap {
  grid-gap: 0;
}
.full-height {
  height: 100%;
  min-height: 100vh;
}

var {
  display: inline-block;
  min-width: 2ch;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

.button-default {
  background-color: var(--color-default, black);
}

.icon { vertical-align: middle; margin-top: -5px; }

/* fix */
svg { height: auto; }
.code { font-family: var(--font-family-monospace,var(--fallback-font-family-monospace)) !important; }
